body {
    font-family: Arial, sans-serif;
    color: var(--tg-theme-text-color);
    background-color: var(--tg-theme-bg-color);
    margin: 0;
    padding: 0;
}

form {
    max-width: 600px;
    margin: 20px auto;
    background-color: var(--tg-theme-bg-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.question {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.options input,
.options select {
    margin-top: 5px;
}

input[type="text"],
select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

input[type="range"] {
    width: 100%;
}

output {
    display: inline-block;
    margin-left: 10px;
    font-weight: bold;
}
  

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.options {
    display: flex;
    flex-direction: column;
}

.option {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    color: var(--tg-theme-text-color);
}

.option input[type="radio"] {
    margin-right: 10px;
}

.sliderticks {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.sliderticks span {
    display: flex;
    justify-content: center;
    width: 1px;
    height: 10px;
    background: #d3d3d3;
    line-height: 40px;
}

.MainButton {
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.MainButton:hover {
    background-color: var(--tg-hover-button-color);
    color: var(--tg-hover-button-text-color);
}
